
<ion-header>
  <ion-navbar color="{{ this.vars.navColor }}">
    <ion-buttons left>
      <button ion-button icon-only clear menuToggle>
        <ion-icon name="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Fechados</ion-title>
  </ion-navbar>
  <ion-toolbar color="{{ this.vars.navColor }}">
    <ion-segment [(ngModel)]="release_type">
    <ion-segment-button value="various">
      Diversos
    </ion-segment-button>
    <ion-segment-button value="fixes">
      Fixos
    </ion-segment-button>
  </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="release_type">
    <div *ngSwitchCase="'various'">
      <ion-searchbar placeholder="Pesquise por nome" (ionInput)="filterVarious($event)"></ion-searchbar>
      <ion-card *ngIf="various_releases.length == 0">
        <ion-card-content>
          Nenhum lançamento encontrado
        </ion-card-content>
      </ion-card>
      <ion-card *ngFor="let release of various_releases">
        <ion-card-header>
          <ion-item detail-none>
            <h2>{{ release.CLOSED_NAME }}</h2>
          </ion-item>
        </ion-card-header>
        <hr class="card-line">
        <ion-card-content>
          <ion-row>
            <ion-col>
              <h2>Valor:</h2>
            </ion-col>
            <ion-col *ngIf="release.CLOSED_PAY_FORM == 0">
              <p class="{{ release.CLOSED_TYPE == 1 ? 'secondary' : 'danger' }}">
                R$ {{ release.CLOSED_TYPE == 1 ? '+' : '-' }}{{ (release.CLOSED_VALUE/release.CLOSED_PLOTS).toFixed(2) }}
              </p>
            </ion-col>
            <ion-col *ngIf="release.CLOSED_PAY_FORM == 1">
              <p class="{{ release.CLOSED_TYPE == 1 ? 'secondary' : 'danger' }}">
                R$ {{ release.CLOSED_TYPE == 1 ? '+' : '-' }}{{ release.CLOSED_VALUE }}
              </p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <h2>Tipo:</h2>
            </ion-col>
            <ion-col>
              <p>{{ release.CLOSED_TYPE == 1 ? 'Entrada' : 'Saída' }}</p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <h2>Pago em:</h2>
            </ion-col>
            <ion-col>
              <p>{{ release.CLOSED_DATE | date: 'dd/MM/yyyy'}}</p>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngSwitchCase="'fixes'">
      <ion-searchbar placeholder="Pesquise por nome" (ionInput)="filterFixes($event)"></ion-searchbar>
      <ion-card *ngIf="fixes_releases.length == 0">
        <ion-card-content>
          Nenhum lançamento encontrado
        </ion-card-content>
      </ion-card>
      <ion-card *ngFor="let release of fixes_releases">
        <ion-card-header>
          <ion-item detail-none>
            <h2 color="primary">{{ release.CLOSED_NAME }}</h2>
          </ion-item>
        </ion-card-header>
        <hr class="card-line">
        <ion-card-content>
          <ion-row>
            <ion-col>
              <h2>Valor:</h2>
            </ion-col>
            <ion-col>
              <p class="{{ release.CLOSED_TYPE == 1 ? 'secondary' : 'danger' }}">
                R$ {{ release.CLOSED_TYPE == 1 ? '+' : '-' }}{{ release.CLOSED_VALUE }}
              </p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <h2>Tipo:</h2>
            </ion-col>
            <ion-col>
              <p>{{ release.CLOSED_TYPE == 1 ? 'Entrada' : 'Saída' }}</p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <h2>Pago em:</h2>
            </ion-col>
            <ion-col>
              <p>{{ release.CLOSED_DATE | date: 'dd/MM/yyyy'}}</p>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
