
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only clear menuToggle>
        <ion-icon name="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Fechados</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="releases.length == 0">
    <ion-card-content>
      Nenhum lançamento encontrado
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let release of releases">
    <ion-card-header>
      <ion-item detail-none>
        <h2 color="primary">{{ release.VARIOUS_NAME }}</h2>
        <button ion-button clear icon-only item-right (click)="confirmOpen(release)">
          <ion-icon name="md-unlock"></ion-icon>
        </button>
      </ion-item>
    </ion-card-header>
    <hr class="card-line">
    <ion-card-content>
      <ion-row>
        <ion-col>
          <h2>Valor:</h2>
        </ion-col>
        <ion-col>
          <p color="{{ release.VARIOUS_TYPE == 1 ? 'secondary' : 'danger' }}">
            R$ {{ release.VARIOUS_TYPE == 1 ? '+' : '-' }}{{ release.VARIOUS_VALUE }}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h2>Tipo:</h2>
        </ion-col>
        <ion-col>
          <p>{{ release.VARIOUS_TYPE == 1 ? 'Entrada' : 'Saída' }}</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h2>Forma:</h2>
        </ion-col>
        <ion-col>
          <p>{{ release.VARIOUS_PAY_FORM == 1? 'Avista' : 'Cartão' }}</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h2>Parcelas:</h2>
        </ion-col>
        <ion-col>
          <p>{{ release.VARIOUS_PLOTS ? release.VARIOUS_PLOTS : 'Nenhuma' }}</p>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="release.VARIOUS_PAY_FORM == 0">
        <ion-col>
          <h2>Total parcela:</h2>
        </ion-col>
        <ion-col>
          <p color="danger">R$ -{{ release.VARIOUS_VALUE/release.VARIOUS_PLOTS }}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
