page-fixes-releases {
  .card {
    margin: 0 0 20px 0;
    width: 100%;

    .card-header {
      padding: 0;

      .item {
        padding-left: 7px;

        .avaible {
          opacity: 1;
        }
      }
    }

    .collapse-content {
      transition: max-height .7s;
      max-height: 0;

      &.collapse {
        max-height: 350px;
      }
    }

    .card-line {
      height: 1px;
      margin: 0;
    }

    .row {
      .col {
        border-top: 0;
        padding: 0;
        color: map-get($colors, 'font');

        &:last-child {
          text-align: right;
        }
      }
    }
  }
}
