<ion-header>
  <ion-navbar color="primary">
    <ion-title>Configuração</ion-title>
    <ion-buttons right>
      <button ion-button clear *ngIf="user.name && user.income && user.income_day" (click)="update ? updateConfig() : saveConfig()">
        CONFIRMAR
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <h2 color="primary">Me conte sobre você</h2>
    </ion-card-header>
    <hr class="card-line">
    <ion-card-content>
      <ion-list color="light">
        <ion-item>
          <ion-label stacked>Qual seu nome?</ion-label>
          <ion-input type="text" placeholder="Digite aqui" [(ngModel)]="user.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Qual a sua renda?</ion-label>
          <ion-input type="number" placeholder="Digite aqui" [(ngModel)]="user.income"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Dia de recebimento</ion-label>
          <ion-select [(ngModel)]="user.income_day" placeholder="Escolha um dia">
            <ion-option *ngFor="let day of days" value="{{ day.value }}">{{ day.information }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="update" class="last">
          <ion-label stacked>Deseja atualizar a carteira?</ion-label>
          <ion-checkbox color="primary" checked="false" [(ngModel)]="user.update_wallet"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
