<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only clear menuToggle>
        <ion-icon name="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Visão Geral</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header color="primary">
      Maior gasto do mês
    </ion-card-header>
    <hr class="card-line">
    <ion-card-content>
      <ion-row *ngFor="let higher of higher_spend">
        <ion-col >
          <h2>{{ higher.label }}</h2>
        </ion-col>
        <ion-col>
          <p color="{{ higher.color }}">{{ higher.value }}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">
      Lançamentos fixos
    </ion-card-header>
    <hr class="card-line">
    <ion-card-content>
      <ion-row *ngFor="let spend of spends_category">
        <ion-col >
          <h2>{{ spend.label }}</h2>
        </ion-col>
        <ion-col>
          <p color="{{ spend.color }}">{{ spend.value }}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <div>Todos ></div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">
      Lançamentos Diversos
    </ion-card-header>
    <hr class="card-line">
    <ion-card-content>
      <ion-row *ngFor="let month of spends_month">
        <ion-col >
          <h2>{{ month.label }}</h2>
        </ion-col>
        <ion-col>
          <p color="{{ month.color }}">{{ month.value }}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <div>Todos ></div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-fab left bottom>
    <button ion-fab color="secondary">
      <ion-icon name="ios-arrow-up"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab>
        <ion-icon name="md-help"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
