<ion-header>
  <ion-navbar color="{{ this.vars.navColor }}">
    <ion-title>Relatório</ion-title>
    <ion-buttons right>
      <button ion-button icon-only clear (click)="modalDismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p class="site-name" ion-item detail-none>
    Período: {{ filters.beginDate | date: 'dd/MM/yyyy' }} à {{ filters.finalDate | date: 'dd/MM/yyyy' }}
  </p>
  <ion-card>
    <ion-card-header color="{{ this.vars.navColor }}">
      Movimentações
    </ion-card-header>
    <hr class="card-line">
    <ion-card-content *ngIf="report_data.length == 0">
      Nenhuma movimentação feita
    </ion-card-content>

    <!-- Diversos Abertos -->
    <ion-card-content *ngIf="filters.type == 1 && filters.category == 1 && report_data.length !== 0">
      <ion-row *ngFor="let data of report_data">
        <ion-col>
          <h2>{{ data.VARIOUS_NAME }}</h2>
        </ion-col>
        <ion-col>
          <p class="{{ data.VARIOUS_TYPE == 1 ? 'secondary' : 'danger' }}">
            <span *ngIf="data.VARIOUS_PAY_FORM == 0">
              {{ data.VARIOUS_PLOTS }}x de R$ {{ (data.VARIOUS_VALUE/data.VARIOUS_PLOTS).toFixed(2) }}
            </span>

            <span *ngIf="data.VARIOUS_PAY_FORM == 1">
              R$ {{ data.VARIOUS_TYPE == 1 ? '+' : '-' }}{{ data.VARIOUS_VALUE }}
            </span>
          </p>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col>
          <h2>Total:</h2>
        </ion-col>
        <ion-col>
          <p>R$ {{ total.toFixed(2) }}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <!-- Fixos Abertos -->
    <ion-card-content *ngIf="filters.type == 1 && filters.category == 0 && report_data.length !== 0">
      <ion-row *ngFor="let data of report_data">
        <ion-col>
          <h2>{{ data.FIXES_NAME }}</h2>
        </ion-col>
        <ion-col>
          <p class="{{ data.FIXES_TYPE == 1 ? 'secondary' : 'danger' }}">
            R$ {{ data.FIXES_TYPE == 1 ? '+' : '-' }}{{ data.FIXES_VALUE }}
          </p>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col>
          <h2>Total:</h2>
        </ion-col>
        <ion-col>
          <p>R$ {{ total.toFixed(2) }}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <!-- Diversos Fechados -->
    <ion-card-content *ngIf="filters.type == 0 && filters.category == 1 && report_data.length !== 0">
      <ion-row *ngFor="let data of report_data">
        <ion-col>
          <h2>{{ data.CLOSED_NAME }}</h2>
        </ion-col>
        <ion-col>
          <p class="{{ data.CLOSED_TYPE == 1 ? 'secondary' : 'danger' }}">
            <span *ngIf="data.CLOSED_PAY_FORM == 0">
              Parcela de R$ {{ data.CLOSED_VALUE }} em {{ data.CLOSED_DATE | date: 'dd/MM/yyyy' }}
            </span>

            <span *ngIf="data.CLOSED_PAY_FORM == 1">
              R$ {{ data.CLOSED_TYPE == 1 ? '+' : '-' }}{{ data.CLOSED_VALUE }} <small>{{ data.CLOSED_DATE | date: 'MM/yyyy' }}</small>
            </span>
          </p>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col>
          <h2>Total:</h2>
        </ion-col>
        <ion-col>
          <p>R$ {{ total.toFixed(2) }}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <!-- Fixos Fechados -->
    <ion-card-content *ngIf="filters.type == 0 && filters.category == 0 && report_data.length !== 0">
      <ion-row *ngFor="let data of report_data">
        <ion-col>
          <h2>{{ data.CLOSED_NAME }}</h2>
        </ion-col>
        <ion-col>
          <p class="{{ data.CLOSED_TYPE == 1 ? 'secondary' : 'danger' }}">
              R$ {{ data.CLOSED_TYPE == 1 ? '+' : '-' }}{{ data.CLOSED_VALUE }} <small>{{ data.CLOSED_DATE | date: 'MM/yyyy' }}</small>
          </p>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col>
          <h2>Total:</h2>
        </ion-col>
        <ion-col>
          <p>R$ {{ total.toFixed(2) }}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
