page-report-modal {
  .site-name {
    background-color: transparent;
    color: #6d6d6d;
    padding: 0;
    margin: 7px 0;
    font-weight: bold;
  }

  .card {
    margin: 0 0 20px 0;
    width: 100%;

    .card-line {
      height: 1px;
      margin: 0;
    }

    .row {
      .col {
        border-top: 0;
        padding: 0;
        color: map-get($colors, 'font');

        &:last-child {
          text-align: right;
        }
      }
    }
  }
}
